<li>
	{{name}} {{#if devoured}}
	<button class="change-devoured button is-danger" data-id="{{id}}" data-newDevour="{{devoured}}">
		Eat Them!!
	</button>
	{{/if}}

	<button class="deleteBurger button is-danger" data-id="{{this.id}}">DELETE!</button>
</li>

