<form class="deleteBurger">
    <div class="Deleteform">
        <label for="burger">Burger Name:</label>
        {{!-- <select name="burger">
        {{#each burger}}
        <option value='{{burgerID}}'>{{burger.name}}</option>
        {{/each}}
        </select> --}}
         {{!--
        <input type="text" id="burger" name="name" class="input is-warning is-normal" placeholder="Delete a Burger here!"> --}}
    </div>
    </div>
    <br>

    <button class="deleteBurger button is-warning" data-id="{{this.id}}">DELETE!</button>

</form>